.contenedor{
display: flex;
justify-content: space-between;
padding: 10px;
background-color: rgb(59, 34, 80);
}

.titulo{
    font-style: italic;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

.nav{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.nav a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-carrito{
    height: 28px;
}

.cart{
    display: flex;
    gap: 4px;    
}

.contadorCarrito{
    color: #fff;
    font-size: 20px;
}

.itemListContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.itemListContainer_Titulo{
    font-size: 50px;
    color: rgb(59, 34, 80);
    text-transform: uppercase;
}
